$font-family: "Open Sans", sans-serif;
$bg: rgb(248, 244, 244);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: $font-family;
}
.navbar {
  padding: 1rem 5vw;
  flex: 1;
  background-color: darken($color: $bg, $amount: 4);
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 10px 10x 15px red;
  .logo {
    text-transform: capitalize;
  }
}

.main {
  padding: 1rem 5vw;
  flex: 11;
  background-color: $bg;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 3rem;
    font-weight: 600;
  }

  p,
  span {
    font-weight: 300;
  }

  a {
    text-decoration: none;
    border-bottom: 0.1rem dotted;
    color: darken($color: $bg, $amount: 60);
    font-weight: 400;
  }
  a:hover {
    background-color: darken($color: $bg, $amount: 5);
  }

  p::before {
    content: "Oops!";
    font-weight: 400;
  }

  transform: scale();
}

.card {
  background-color: darken($color: $bg, $amount: 4);
  padding: 1.4rem;

  min-height: 300px;

  border-radius: 10px;
  box-shadow: 10px 10px 15px darken($color: $bg, $amount: 10),
    -10px -10px 15px lighten($color: $bg, $amount: 4),
    inset 5px 5px 10px darken($color: $bg, $amount: 6),
    inset -5px -5px 10px darken($color: $bg, $amount: 2);
}
