$font-family: "Open Sans", sans-serif;
$bg: rgb(236, 244, 245);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: $font-family;
}

.navbar {
  background-color: darken($color: $bg, $amount: 65);
  color: #ebebeb;

  height: min-content;
  padding: 1.2rem 5vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    text-transform: capitalize;
    line-height: 4rem;
  }

  .navlinks {
    list-style: none;
    display: flex;
  }
}

.main {
  color: #151515;

  padding: 0 5vw;

  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    border-bottom: 0.1rem dotted;
    color: darken($color: $bg, $amount: 60);
    font-weight: 400;
  }
  a:hover {
    background-color: darken($color: $bg, $amount: 8);
  }

  .card {
    background-color: darken($color: $bg, $amount: 4);
    padding: 1.4rem;
    margin: 1.5rem;

    min-height: 300px;
    min-width: 80vw;

    border-radius: 10px;
    box-shadow: 10px 10px 15px darken($color: $bg, $amount: 10),
      -10px -10px 15px lighten($color: $bg, $amount: 4),
      inset 5px 5px 10px darken($color: $bg, $amount: 6),
      inset -5px -5px 10px darken($color: $bg, $amount: 2);
    h2 {
      line-height: 4rem;
    }
  }

  .contact {
    h2 {
      text-transform: capitalize;
    }

    ul {
      list-style: none;
    }
    li {
      display: inline;
    }
    li::after {
      content: " | ";
    }
  }
}

@media (min-width: 721px) {
  .navbar {
    .navlinks {
      flex-direction: row;
      li {
        margin-left: 0.7rem;
      }
    }
  }
  .main {
    margin: auto;
  }
}

@media (max-width: 720px) {
  .navbar {
    flex: 1.5;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.9rem;

    .navlinks {
      flex-direction: column;
    }
  }
  .main {
    flex: 10.5;
  }
}
